.rayr-toggle {
    position: relative;
    display: inline-block;
}

.rayr-toggle-box {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: cadetblue;
    z-index: 9999;
}
